@charset "UTF-8";

*{
     margin: 0px;
     padding: 0px;
     font-family: Arial, Helvetica, sans-serif;
}

html, body {
     height: 100vh;
     width: 100vw;
     background-color: black;

}
main{
     position: relative;
     height: 100vh;
     background-color: ;
}
body{
     background:  url('../imagens/fundo-madeira.jpg') no-repeat top center ;
     background-size: cover;
     background-attachment:fixed;
}

section#telefone{

     position: absolute;
     top: 50%;
     left: 55%;
     transform: translate(-40% ,-50%);
     height: 628px;
     width: 315px;
     background-color: ;
     background:  url('../imagens/frame-iphone.png') no-repeat;



}
section#redes-sociais img {
     
     width: 45px;
     margin: 7px;
     border-radius: 50%;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.403) ;
     box-sizing: border-box;


    
}
section#redes-sociais{
     text-align:left;
}
section#redes-sociais img:hover{
     border: 2px solid rgba(255, 255, 255, 0.496);
     transform: translate(-3px , -3px);
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.608);
     transition:transform 0.5s , border 0.5s;
}
iframe#tela{
     position: relative;
     top: 81.5px;
     left: 21px;
     width: 268px;
     height: 468px;
}